@font-face {
    font-family:"JosefinSans";
    src: url(/Fuentes/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);}
body {
background-color: #FCF8C4; 
font-family: "JosefinSans";
margin: 0;
padding: 40px;
}
.card {
background-color: #ffffff;
max-width: 400px;
margin: auto;
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
text-align: center;
}

img {
width: 150px;
height: 150px;
border-radius: 50%;
}

button {
background-color: #fade91;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 10px;
}
button:hover {
background-color: #a9c8bd;
}

img {
width: 150px;
height: 150px;
border-radius: 50%;
}
button {
background-color: #ffbb00;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 10px;
}
button:hover {
background-color: #ffe95d;
}